.navbar-inverse {
    background-color: #6caed6;
    border-color: #6caed6;

}

.navbar-inverse .navbar-brand {
    color: #92c1e2;
    font-variant: small-caps;
    font-weight: 600;
    font-size: x-large;
}

.section-heading,
#game-type,
#player_selection {
    display: block;
    float: none;
    margin: 20px;

}

.section-paragraph {
    margin-bottom: 30px;
    font-size: 18px;
}

.navbar-inverse {
    margin-bottom: 0;
}

.footer {
    text-align: center;
    background-color: #9dcae0;
    color: #e5f0fb;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 15px;
}

@media (max-width:629px) {

    #months,
    .compositeChart {
        display: none;
    }
}